#h1Home{
    color: #000000;
}
.cartas{
    width: 550px;
    height: 430px;
    border-radius: 8px;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
}
.linkHome{
    display: flex;
    justify-content: center;
    margin: 5px;
}
#buttonCreate{
    display: block;
    min-width: 130px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: white;
    border-color: #000000;
    cursor: pointer;
    color: #0a0a23;
    border-radius: 15px;
}
select{
    display:inline-block; 
    cursor: pointer;
    background-color: white;
    border-color: #000000;
    margin: 5px;
}
.buttonAll{
    display: block;
    min-width: 130px;
    margin: auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: white;
    border-color: #000000;
    cursor: pointer;
    color: #000000;
    border-radius: 15px;
}
